@page "/login"
@using BlazorApp.Data
@inject LoginService MyLogin

<h1>@status</h1>

@if (@status==1)
    {
    <p>Welcome @member.Name</p>
    <button @onclick="logout">Logout </button>
    }
else{
    <p> Welcome, please login</p>
    <label for="fname">Account:</label>
    <input type="text" @bind="@account" id="account" name="account"><br><br>
    <label for="lname">Password:</label>
    <input type="text" @bind="@password" id="password" name="password"><br><br>
    <button class="btn btn-primary" @onclick="login">Login</button>
    }


@code 
{
    private string account;
    private string password;
    private int status {get; set; } = 0;
   
    private MemberData member;

    async Task login()
    {
     @* status = "login successful!!!"; *@ 
     MyLogin.setlogin(1);
     status=MyLogin.getlogin();
     this.member = await MyLogin.GetMemberInfo();

    }
    void logout()
    {
    MyLogin.setlogin(0);
    status= MyLogin.getlogin();
    }
}